@import 'tailwindcss';
@import 'tw-animate-css';

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('components/fonts/Pretendard-Regular.woff');
}

@font-face {
  font-family: 'Bold';
  src: url('components/fonts/Pretendard-Bold.woff');
}

@font-face {
  font-family: 'ExtraBold';
  src: url('components/fonts/Pretendard-ExtraBold.woff');
}

@font-face {
  font-family: 'ExtraLight';
  src: url('components/fonts/Pretendard-ExtraLight.woff');
}

@font-face {
  font-family: 'ExtraLight';
  src: url('components/fonts/Pretendard-ExtraLight.woff');
}

@font-face {
  font-family: 'Light';
  src: url('components/fonts/Pretendard-Light.woff');
}

@font-face {
  font-family: 'Medium';
  src: url('components/fonts/Pretendard-Medium.woff');
}

@font-face {
  font-family: 'SemiBold';
  src: url('components/fonts/Pretendard-SemiBold.woff');
}

@font-face {
  font-family: 'Thin';
  src: url('components/fonts/Pretendard-Thin.woff');
}

@layer base {
  html {
    font-family: 'Pretendard-Regular';
  }
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #efefef;
}

@theme {
  --color-white: #fffefc;
  --color-primary: #ffba42;
  --color-primary-200: #fddda7;
  --color-primary-300: #fff8ec;
  --color-grey-100: #efefef;
  --color-grey-200: #adadad;
  --color-grey-300: #828282;
  --color-grey-500: #6a7282;
  --color-grey-700: #364153;
  --color-gray-100: #efefef;
  --color-gray-200: #adadad;
  --color-gray-300: #828282;
  --color-gray-500: #6a7282;
  --color-gray-700: #364153;
  --color-black: #000000;
}
